<!DOCTYPE html>
<html>
<head>
    <title>Organizations</title>
</head>
<body>

<h1>Organizations</h1>

<% organizations.forEach(org => { %>
    <div>
        <h2><%= org.name %></h2>
        <p><%= org.description %></p>
        <p><strong>Email:</strong> <%= org.contact_email %></p>
        <img src="/images/<%= org.logo_filename %>" width="150" />
    </div>
    <hr>
<% }) %>

</body>
</html>