<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>

<h1>Projects</h1>

<% projects.forEach(project => { %>
    <div>
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
        <p><strong>Organization:</strong> <%= project.organization_name %></p>
        <p><strong>Category:</strong> <%= project.category_name %></p>
    </div>
    <hr>
<% }) %>

</body>
</html>